@media (max-width: 1100px) {
  .wrapper {
    margin-left: 32px;
  }

  .banner_scooter {
    max-width: 500px;
  }

  .banner_image{
    top: 194px;
  }

  .circle {
    width: 92px;
    bottom: 119px;
    right: 254px;
  }
}

@media (min-width: 920px) {
  .button {display: none}
}

@media (max-width: 580px) {
  .title_banner img {
    width: 112px;
  }

  .banner_scooter {
    max-width: 360px;
  }

  .join_button {
    margin: 0;
    bottom: 20px;
    position: fixed;
  }

  .title_join {
    margin-top: 32px;
    font-size: 36px;
  }

  .title_description {
    font-size: 18px;
  }

  .banner_image{
    position: static;
    &:before {
      display: none;
    }
  }

  .banner_container {
    margin-top: 32px;
  }

  .circle {
    width: 79px;
    bottom: 77px;
    left: 106px;
  }

  .gradient {
    background: var(--linear, linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72.00%, #3F68F9 100%));
    &:before {height: 635px;}
  }

  .gradient, .banner_block {height: 635px}

  .old_price {
    width: 102px;
    height: 23px;
    margin-left: -5px;
    font-size: 13px;
  }

  .price {
    height: 23px;
    width: 56px;
    font-size: 18px;
  }
}