@use "../Common";

.gradient {
  position: absolute;
  height: 804px;
  background: var(--linear, linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%));
  width: 100%;
  opacity: 0.22;
  &:before {
    display: block;
    content: "";
    height: 804px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
  }
}

.banner_block {
  position: relative;
  height: 804px;
  z-index: 1;
}

.banner_container {
  margin-top: 124px;
}

.title_banner {
  max-width: 465px;
}

.title_join {
  margin-top: 72px;
  font-family: "YS Text Bold", serif;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -1.44px;
}

.title_description {
  font-family: "YS Text Medium", serif;
  font-size: Common.$font-size24;
  line-height: 130%;
}

.price {
  font-family: "YS Text Medium", serif;
  font-size: Common.$font-size24;
  height: 33px;
  display: inline-flex;
  width: 79px;
  border-radius: 500px;
  background: radial-gradient(141.42% 141.42% at 100.00% -0.00%, #E0B8FF 0%, #B6B9FF 100%);
  align-items: center;
  justify-content: center;
}

.old_price {
  margin-left: 35px;
  z-index: -1;
  position: absolute;
  color: #808080;
  font-family: "YS Text Medium", serif;
  font-size: 16px;
  height: 33px;
  display: inline-flex;
  width: 102px;
  border-radius: 500px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  align-items: center;
  justify-content: flex-end;
  padding-right: 12px;
}

.banner_image {
  display: block;
  position: absolute;
  top: 60px;
  right: 77px;
  z-index: -1;
  &:before {
    position: absolute;
    z-index: -1;
    left: 180px;
    display: block;
    content: "";
    height: 657.8px;
    width: 401px;
    border-radius: 657.8px;
    transform: rotate(140.03deg);
    opacity: 0.5;
    background: #8241EF;
    filter: blur(100px);
  }
}

.circle {
  position: absolute;
  bottom: 162px;
  right: 385px;
}

.banner_price {
  display: inline-flex;
  flex-direction: row;
}

.join_button {
  margin-top: 20px;
}