.slider {
  max-width: 947px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider_container {
  max-width: 950px;
  transform: rotate(2deg);
  display: grid;
  grid-template-areas:  "left right"
                        "left right";
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.slide {
  border-radius: 64px;
  object-fit: cover;
  height: 455px;
}

.geolocation {
  position: absolute;
  top: -140px;
  left: -260px;
}

.lines_slider {display: none}

.lines {
  z-index: 1;
  position: absolute;
  left: 712px;
  top: -371px;
}

.coffee {
  bottom: -151px;
  left: 574px;
  position: absolute;
}

.column {
  position: relative;
  bottom: 210px;
}