@media (max-width: 920px) {
  .geolocation, .coffee {display: none}

  .lines {
    display: none;
  }

  .lines_slider {
    top: -160px;
    right: -150px;
    z-index: 1;
    position: absolute;
    display: block;
  }

  .slider_container {
    width: 456px;
    scroll-behavior: smooth;
    overflow: scroll;
    transform: rotate(0);
    grid-template-columns: repeat(4, 456px);
  }

  .first {
    align-self: center;
    margin: 0 auto;
  }

  .column {
    position: static;
    bottom: 0;
  }

  .slide {
    border-radius: 64px;
    object-fit: cover;
    height: 456px;
  }

  .slider {
    width: 456px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 72px;
  }

  .back {
    margin-right: 12px;
  }

  .inactive_slider_button {opacity: 0.5;}

  .back, .forward {width: 60px; height: 60px}
}

@media (max-width: 580px) {
  .slider {
    width: 343px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }

  .lines_slider {
    width: 180px;
    top: -75px;
    right: -57px;
  }

  .slider_container {
    width: 343px;
    grid-template-columns: repeat(4, 343px);
  }

  .slide {
    height: 343px;
  }

  .column {
    position: static;
    bottom: 0;
  }

  .back, .forward {width: 49px; height: 48px}
}