@use "../Common";

.list_benefits {
  display: grid;
  grid-template-columns: 362px 400px;
  gap: 61px 112px;
}

.benefit_description {
  margin: 16px 0 0 0;
  font-size: Common.$font-size24;
  font-family: "YS Text Regular", serif;
  line-height: 120%;
}

.title_ad {
  max-width: 649px;
  letter-spacing: -1.12px;
  margin: 80px 0 48px;
  font-size: 56px;
  font-family: "YS Text Bold", serif;
}