@font-face {
  font-family: "YS Text Bold";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-black.woff") format('woff');
}

@font-face {
  font-family: "YS Text Medium";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff") format('woff');
}

@font-face {
  font-family: "YS Text Regular";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff") format('woff');
}

$font-size24: 24px;
$font-size48: 48px;

.wrapper {
  max-width: 920px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

body, html {
  margin: 0 auto;
  color: #21201F;
  overflow-x: hidden;
}

button {
  font-family: "YS Text Medium", serif;
  font-size: $font-size24;
  width: 318px;
  height: 69px;
  border: none;
  background: #FFDE40;
  box-shadow: 0 4px 98px 0 rgba(255, 222, 64, 0.59);
  border-radius: 36px;
  &:hover {
    cursor: pointer;

  }
}

@media  (max-width: 580px) {
  button {
    width: 311px;
    height: 49px;
    font-size: 18px;
  }
}