@use "../Common";

.events_block {
  overflow: hidden;
}

.event_title_text {
  letter-spacing: -0.96px;
  margin: 128px 0 0;
  font-size: 48px;
  font-family: "YS Text Bold", serif;
}

.event_description {
  margin: 48px 0 69px 0;
  font-size: Common.$font-size24;
  font-family: "YS Text Medium", serif;
  max-width: 422px;
  line-height: 120%;
}