@use "../Common";

@media (max-width: 580px) {
  .event_title_text {
    letter-spacing: -0.64px;
    margin: 72px 0 0;
    font-size: 32px;
  }

  .event_description {
    margin: 32px 0 47px 0;
    font-size: Common.$font-size16;
    max-width: 280px;
  }
}